<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% if page.use-site-title %}{{ site.title }} {{ site.title-separator }} {{ site.description }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  
    <!--<link rel="stylesheet" href="/css/main.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <!-- Common css things -->
    {% if layout.common-ext-css %}
        {% for css in layout.common-ext-css %}
            {% if include.css.sri %}
                <link href="{{ include.css.href }}" rel="stylesheet" integrity="{{ include.css.sri }}" crossorigin="anonymous">
            {% elsif include.css.href %}
                <link rel="stylesheet" href="{{ include.css.href }}" />
            {% else %}
                <link rel="stylesheet" href="{{ include.css }}" />
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if layout.common-css %}
        {% for css in layout.common-css %}
            <link rel="stylesheet" href="{{ css | prepend: site.baseurl | replace: '//', '/' }}" />
        {% endfor %}
    {% endif %}

    {% if layout.common-googlefonts %}
        {% for font in layout.common-googlefonts %}
            <link rel="stylesheet" href="//fonts.googleapis.com/css?family={{ font }}" />
        {% endfor %}
    {% endif %}

    {% if page.ext-css %}
        {% for css in page.ext-css %}
            {% if include.css.sri %}
                <link href="{{ include.css.href }}" rel="stylesheet" integrity="{{ include.css.sri }}" crossorigin="anonymous">
            {% elsif include.css.href %}
                <link rel="stylesheet" href="{{ include.css.href }}" />
            {% else %}
                <link rel="stylesheet" href="{{ include.css }}" />
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if page.css %}
        {% for css in page.css %}
            <link rel="stylesheet" href="{{ css | prepend: site.baseurl | replace: '//', '/' }}" />
        {% endfor %}
    {% endif %}

    {% if page.googlefonts %}
        {% for font in page.googlefonts %}
            <link rel="stylesheet" href="//fonts.googleapis.com/css?family={{ font }}" />
        {% endfor %}
    {% endif %}

    <!-- Prefetch Katex fonts -->
    <script>
        window.WebFontConfig = {
          custom: {
            families: ['KaTeX_AMS', 'KaTeX_Caligraphic:n4,n7', 'KaTeX_Fraktur:n4,n7',
              'KaTeX_Main:n4,n7,i4,i7', 'KaTeX_Math:i4,i7', 'KaTeX_Script',
              'KaTeX_SansSerif:n4,n7,i4', 'KaTeX_Size1', 'KaTeX_Size2', 'KaTeX_Size3',
              'KaTeX_Size4', 'KaTeX_Typewriter'],
          },
        };
    </script>
    <script defer src="https://cdn.jsdelivr.net/npm/webfontloader@1.6.28/webfontloader.js" integrity="sha256-4O4pS1SH31ZqrSO2A/2QJTVjTPqVe+jnYgOWUVr7EEc=" crossorigin="anonymous"></script>
    <!-- Prefetch Katex fonts -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.css" integrity="sha384-+MsSfd29vjUzcyqYURxcmpWGtqoSHBy+QdEJNLEslXQftxojQv0k6BGDqUNp9GtA" crossorigin="anonymous">
    <script rel="preload" src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.js" integrity="sha384-5zUJgoXUAOXAoLeyJm2Ja3vbN3VCnoc2w0rG7dyC2jjGwD8PINuWoDHJ3gNdkOxj" crossorigin="anonymous"></script>
</head>
      